@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade_down {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes button_fade_right {
  0% {
    opacity: 0;
    transform: translateX(1.6rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.slideshow {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes slideshow {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 1.5rem;
  background-color: #f0f0f0;
  box-sizing: border-box;
  z-index: -1; }

.header-text {
  color: black; }
  .header-text .title {
    display: block;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 1rem;
    padding: 1rem 0;
    animation: fade 2s ease-out;
    backface-visibility: hidden; }
  .header-text .description {
    display: block;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 100;
    animation: fade_down 1s ease-out;
    backface-visibility: hidden; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #3c3c3c, black);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: -10%; }

.heading-title {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.song-name {
  padding-bottom: 1rem; }

.column-title {
  font-size: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: double;
  padding-bottom: 4rem; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.venue-name {
  font-size: 2rem;
  font-weight: 100;
  color: #3c3c3c; }

.signature {
  font-style: italic;
  color: #3c3c3c;
  float: right;
  font-size: 1.8rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 0.8rem; }

.audio-column {
  max-width: 114rem;
  display: inline-block; }
  .audio-column .audio-player {
    max-width: 114rem;
    margin: 0 auto; }
    .audio-column .audio-player:not(:last-child) {
      margin-bottom: 4rem; }

/* testing */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 4rem;
  transition: all 0.1s;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover:after {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn.blkGold {
  z-index: 1;
  background-color: #3c3c3c;
  color: #ffe86a; }
  .btn.blkGold::after {
    background-color: #3c3c3c; }
  .btn.blkGold.contact-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    animation: button_fade_right 1.5s ease-out;
    animation-fill-mode: backwards; }
  .btn.blkGold.email-button {
    position: fixed;
    animation: button_fade_right 1.5s ease-out;
    animation-fill-mode: backwards; }

.dot {
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  margin: 0 0.2rem;
  background-color: #3c3c3c;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .dot:active, .dot:hover {
    background-color: #a7a7a7; }

.vid_dot {
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  margin: 0 0.2rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .vid_dot:active, .vid_dot:hover {
    background-color: #a7a7a7; }

.back-to-top:link, .back-to-top:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s; }

.back-to-top:hover, .back-to-top:active {
  color: #ffe86a;
  transform: scale(1.1); }

.form {
  width: 100%;
  padding: 3rem; }
  .form-group:not(:last-child) {
    margin-bottom: 2.7rem; }
  .form-input {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 60%;
    display: block; }
    .form-input.message {
      width: 90%; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ffd966; }

.feedback-container {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 3rem;
  transform: skewX(-7deg); }
  .feedback-container > * {
    transform: skewX(7deg); }
  .feedback-container:first-child {
    margin-top: -1rem; }
  .feedback-container:not(:last-child) {
    margin-bottom: 7rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup-close:link, .popup-close:visited {
    color: black;
    position: absolute;
    right: 1rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  .popup-close:hover {
    color: lightcoral; }
  .popup-content {
    width: 50%;
    height: 75%;
    background-color: #e7e6d1;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    overflow: hidden; }

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto; }
  .slideshow-container .slides {
    display: none; }

.venue-container {
  padding: 5rem 0 2.5rem; }

.venue {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1rem; }
  .venue:not(:last-child) {
    margin-bottom: 5rem; }
  .venue:first-child {
    margin-top: 1rem; }
  .venue.client-row-2 {
    width: 45%;
    margin-top: -8rem; }

.video-column {
  max-width: 100%;
  position: relative;
  display: block;
  padding-top: 3rem; }

.videos {
  display: none; }

.footer {
  background-color: #2b2b2b;
  padding: 2rem 0 1rem;
  margin-top: -1rem; }
  .footer .footer-logo-container {
    margin-bottom: 1rem; }
  .footer .footer-logo {
    height: 5.5rem;
    opacity: 0.7; }
  .footer .border {
    border-top: 1px dotted white;
    display: inline-block; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row.client-row {
    max-width: 100rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 6rem * 3) / 4) + 6rem * 2); }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(255, 240, 158, 0.85), rgba(60, 58, 47, 0.85)), url(../img/violin-example.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header .logo-container {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header .logo {
    height: 6.5rem;
    animation: fade 1.5s ease-out; }
  .header .header-text-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #3c3c3c;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 7;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation-background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5rem;
  right: 5.5rem;
  background-image: radial-gradient(#fff09e, #3c3a2f);
  z-index: 5;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.266, 1.55); }

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation-item {
  margin: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 2.8rem;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #3c3c3c 50%);
  background-size: 230%;
  transition: all 0.4s; }

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: whitesmoke;
  transform: translateX(0.5rem); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(70); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%; }

.navigation-icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #ffe86a;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation-icon::before {
    top: -0.8rem; }
  .navigation-icon::after {
    top: 0.8rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-45deg); }

.section-about {
  background-color: #e7e6d1;
  padding: 17rem 5rem;
  margin-top: -10vh; }

.section-music {
  padding: 12rem 5rem 15rem;
  background-image: linear-gradient(to right bottom, rgba(255, 240, 158, 0.85), rgba(60, 58, 47, 0.85)), url(../img/violin-music-page.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-3.25deg);
  margin-top: -10vh; }
  .section-music > * {
    transform: skewY(3.25deg); }

.section-venues {
  background-color: #e7e6d1;
  padding: 20rem 5rem 10rem;
  margin-top: -10vh;
  margin-bottom: -15vh; }

.section-feedback {
  padding: 12rem 5rem 15rem;
  background-image: linear-gradient(to right bottom, rgba(255, 240, 158, 0.85), rgba(60, 58, 47, 0.85)), url(../img/violin-feedback-page.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10vh;
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%); }
