.section-about {
  background-color: $background-light-yellow;
  padding: 17rem 5rem;
  margin-top: -10vh;
}

.section-music {
  padding: 12rem 5rem 15rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 240, 158, 0.85),
      rgba(60, 58, 47, 0.85)
    ),
    url(../img/violin-music-page.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-3.25deg);
  margin-top: -10vh;

  & > * {
    transform: skewY(3.25deg);
  }
}

.section-venues {
  background-color: $background-light-yellow;
  padding: 20rem 5rem 10rem;
  margin-top: -10vh;
  margin-bottom: -15vh;
}

.section-feedback {
  padding: 12rem 5rem 15rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 240, 158, 0.85),
      rgba(60, 58, 47, 0.85)
    ),
    url(../img/violin-feedback-page.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10vh;
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
}
