.footer {
  background-color: #2b2b2b;
  padding: 1rem 0;

  .footer-logo-container {
    margin-bottom: 1rem;
  }

  .footer-logo {
    height: 5.5rem;
  }

  .border {
    border-top: 1px dotted white;
    display: inline-block;
  }
}
