.footer {
  background-color: #2b2b2b;
  padding: 2rem 0 1rem;
  margin-top: -1rem;

  .footer-logo-container {
    margin-bottom: 1rem;
  }

  .footer-logo {
    height: 5.5rem;
    opacity: 0.7;
  }

  .border {
    border-top: 1px dotted white;
    display: inline-block;
  }
}
